<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('./partials/header'); %></header>
    <div class="main">
      <div class="column">
        <h1>Script Params</h1>
        <form
          class="main_form"
          name="my_form"
          onsubmit="validateForm(event);return false"
        >
          <input
            type="file"
            id="avatar"
            name="avatar"
            accept="application/json,.py"
          /><br />
          <label for="lname" class="Data_form">Python version number:</label
          ><br />
          <input type="text" id="lname" name="lname" class="data-form" /><br />
          <input type="submit" value="edit" class="button-form" />
        </form>
        <h4>* Script should have its' parameters here</h4>
      </div>
      <div class="column">
        <h1>Hello Avtam Cyber World</h1>
        <h2></h2>
        <img src="img/cyberAvtam.png" alt="cyberAvtam" />
      </div>
      <div class="column">
        <div class="button_operate">
          <button onclick="">Launch Camera</button>
        </div>
        <div class="main_Table">
          <table>
            <tr>
              <th>First name</th>
              <th>Last Name</th>
              <th>time</th>
            </tr>
            <tr>
              <td>yoni</td>
              <td>machrabi</td>
              <td>12:50</td>
            </tr>
            <tr>
              <td>matan</td>
              <td>matan</td>
              <td>12:51</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
